// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home-wrapper > div {
  flex: 1;
  padding: 10px;
}